<!--
  Generated template for the QuotesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Quotes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let quote of quotes">
        <h2>By {{ quote.person }}</h2>
        <p>{{ quote.text }}</p>
    </button>
  </ion-list>
</ion-content>
