<!--
  Generated template for the AddQuotePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Quote</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item>
          <ion-label fixed>Author Name</ion-label>
          <ion-input type="text" value=""></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label fixed>Quote</ion-label>
          <ion-input type="quote"></ion-input>
        </ion-item>
      
      </ion-list>
      
      <div padding>
        <button ion-button>Submit</button>
      </div>
</ion-content>
