<!--
  Generated template for the QuotePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Quote Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <h2>{{ quote }}</h2> 
</ion-content>
