<!--
  Generated template for the LibraryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Library</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let collection of quoteCollection" (click)="loadQuotes(collection)">
        <ion-icon name="{{ collection.icon }}" item-start></ion-icon>
        <h2>{{ collection.category }}</h2>
        <p>{{ collection.quotes.length }} quotes</p>
        <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </button>
  </ion-list>
</ion-content>
